<div style="padding:30px">
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>CT ID</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.firstname }}&nbsp;{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td> <button (click)="edit()">Edit</button> <button (click)="delete()">Delete</button> </td>
      </tr>
    </tbody>
  </table>
</div>