<div class="back-image">
  <div class="container">
      <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Sign In</div>
                  <div style="float:right; font-size: 80%; position: relative; top:-10px">
                      <a (click)="forgetpassword()">Forgot password?</a>
                  </div>
              </div>
  
              <div style="padding-top:30px" class="panel-body">
  
                  <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
  
                  <form  class="form-horizontal" role="form">
  
                      <div style="margin-bottom: 25px" class="input-group">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input [(ngModel)]="email" type="text" class="form-control" required minlength="8"  #name="ngModel" class="form-control"
                              name="email" placeholder="Email Address">
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-error">
                              <div *ngIf="name.errors.required">
                                  Name is required.
                              </div>
                              <div *ngIf="name.errors.minlength">
                                  Name must be 8 characters long.
                              </div>
                          </div>
                      </div>
  
                      <div style="margin-bottom: 25px" class="input-group">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-lock"></i>
                          </span>
                          <input [(ngModel)]="password" #namepas="ngModel" type="password" required minlength="5" class="form-control" name="password" placeholder="password">
                          <div *ngIf="namepas.invalid && namepas.dirty" class="alert-error">
                                  <div *ngIf="namepas.errors.required">
                                      password is required.
                                  </div>
                                  <div *ngIf="namepas.errors.minlength">
                                          password must be at least 4 characters long.
                                      </div>
                              </div>
                      
                      </div>
  
  
  
                      <div class="input-group">
                          <div class="checkbox">
                              <label>
                                  <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                              </label>
                          </div>
                      </div>
  
  
                      <div style="margin-top:10px" class="form-group">
                          <!-- Button -->
  
                          <div class="col-sm-12 controls">
                              <a (click)="login()" class="btn btn-success">Login </a>
  
                          </div>
                      </div>
  
  
                      <div class="form-group">
                          <div class="col-md-12 control">
                              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                  Don't have an account!
                                  <a routerLink="/signup">
                                      Sign Up Here
                                  </a>
                              </div>
                              <div>
                                     
                                      <a routerLink="/home">
                                         Home
                                      </a>
                                  </div>
                          </div>
                      </div>
                  </form>
  
  
  
              </div>
          </div>
      </div>
  
  </div>
  <div class="error-template" *ngIf="errorshow">
      <div class="alert alert-danger">
        <strong>Error </strong>{{errormsg}}
      </div>
    </div>
    <div class="error-template-s" *ngIf="successShow">
      <div class="alert alert-success">
        <strong>Success </strong>{{succesmsg}}
      </div>
    </div>
  </div>